.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.tabs {
  display: flex;
  background-color: #f1f1f1;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #ccc;
}

.image-container {
  display: flex;
  flex-grow: 1;
}

.image-viewer-container {
  flex-grow: 3;
  position: relative;
}

.image-viewer {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.control-panel {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewer-distance {
  margin-top: 20px;
}

.buttons {
  margin-top: 20px;
}

.report-container {
  padding: 20px;
}