
.background-image {
  position: absolute;
  top: 362px;
  left: 830px;
  z-index: 25;
}

.circular-progress svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
}

.rotating {
  position: absolute;
  top: 381px;
  left: 848px;
  z-index: 25;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}